.modal-60w {
    width: 60%;
    max-width: none !important;
}

@media (max-width: 575px) {
    .modal-60w {
        width: calc(100% - 16px);
        top: 0 !important;
        left: 0 !important;
    }
}